/Lab2/build/
/Lab2/dist/
/Lab3/build/
/Lab3/dist/
/ProgrammingAssignment1/build/
/ProgrammingAssignment1/dist/
Lab4/

Lab3/
/ProgrammingAssignment2/build/
/ProgrammingAssignment2/dist/
/Lab5/build/
/Lab5/dist/